.gpt3__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.gpt3__features-heading{
flex: 1;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
text-align: left;
margin-left: 5rem
}
.gpt3__features-heading h1{
    font-family: var--font-family;
    font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 45px;
}
.gpt3__features-heading p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
font-family: var--font-family;
margin-top: 2rem;

color: #FF8A71;
}
.gpt__feature-container{
    flex: 1.5;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
@media screen and(max-width:990px){
    .gpt3__feature{
        flex-direction: column;
    }
    
}
.gpt3__features-heading h1{
    margin: 0 0 2rem 0;
}
@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}